$amazon: #507255;
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

.convslogan {
    text-align: center;
    font-family: 'Fredoka One', cursive;
    margin: 30px auto;
    font-size: 30px;
    color: $amazon;
    letter-spacing: 1px;
    font-style: italic;
}

@media screen and (max-width: 770px) {
    .convslogan {
        font-size: 27.5px;
    }
}